@import "tailwindcss";

:root {
 --font-poppins: "Poppins", sans-serif;
  --color-shop_light_pink: #fcf0e4;
  --color-shop_dark_green: #063c28;
  --color-shop_btn_dark_green: #063d29;
  --color-shop_light_bg: #f6f6f6;
  --color-shop_light_green: #3b9c3c;
  --color-shop_orange: #fb6c08;
  --color-darkColor: #151515;
  --color-lightColor: #52525b;
  --color-lightOrange: #fca99b;
  --color-deal-bg: #f1f3f8;

  /* Neutral theme colors */
  --background: #ffffff;
  --foreground: #151515;
  --border: #e4e4e7;
  --input: #f4f4f5;
  --ring: #d4d4d8;
}

.dark {
  --background: #151515;
  --foreground: #ffffff;
  --border: #27272a;
  --input: #3f3f46;
  --ring: #71717a;
}

/* ✅ Base styles */
@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-poppins);
  }
  .hoverEffect {
    transition: all 0.3s ease-in-out;
  }
  button {
    cursor: pointer;
  }
}

/* ✅ Scrollbar Hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
